<!DOCTYPE html>
<html>
<head>
  <title>Blogine</title>
  <%= stylesheet_link_tag    "blogine/application", media: "all" %>
  <%= javascript_include_tag "blogine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
