<article>
  <div class='row'>
    <div class="col-sm-12">
      <%= link_to "«  #{@category} Index", category_path(slug: @category.slug), class: 'float-left' %>
      <div class="timestamp">Date: <%= l @article.release_date %></div>

      <h1><%= @article.title %></h1>
      <hr />

      <%= render_markdown(@article.content) %>
    </div>
  </div>
</article>
