<nav id='admins-topbar' class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="<%= admins_root_path %>"><strong>Blogine</strong></a>

    <span class="navbar-text">
      <%= link_to "<< Back to blog", root_path %>
    </span>
  </div>
</nav>
