<ul id='admins-navbar' class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Articles", admins_articles_path, class: "nav-link #{"active" if selected_tab?(:articles)}" %>
  </li>
  <li class="nav-item">
    <%= link_to "Categories", admins_categories_path, class: "nav-link #{"active" if selected_tab?(:categories)}" %>
  </li>
</ul>
