<div class="card">
  <div class="card-body">
    <h5 class="card-title">Categories</h5>
    <ul>
      <% all_categories.each do |category| %>
        <li><%= category %></li>
      <% end %>
    </ul>
  </div>
</div>
