<header>
  <div class='container'>
    <div class='left-links'>
      <a id="topbar-brand" href="<%= root_path %>">Blogine</a>
    </div>

    <nav class='right-links'>
      <a href="#" target="_blank">Github</a>
      <a href="#" target="_blank">Linkedin</a>
    </nav>
  </div>
</header>
